.App {
  /* text-align: center; */
  padding: 1rem;
  font-size: large !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery{
  max-width: 85vw;
  height: 25vmin;
  display:flex;
  gap: 5px;
  margin: auto;
}

.gallery img{
  text-align: center  ;
  height: 100%;
  flex: 1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
  padding-top: 1.5rem !important;
}

.gallery img:hover{
  flex: 4;
}

.about{
  /* letter-spacing: 1px; */
  word-spacing: 2px;
  line-height: 2rem;
  justify-content: center;
  padding-top: 2.5rem !important;
  max-width: max-content;
  page-break-after:auto;
}

.first-letter{
  font-size: 2.3rem;
}

.whyns{
  word-spacing: 2.5px;
  line-height: 2.2rem;
  justify-content:flex-start;
}

.nsc{
  color: rgb(133, 15, 133);
}

.head{
  text-align: center;
  color: rgb(113, 2, 160);
  scroll-behavior:inherit;
  text-decoration: underline;
  /* font-size:xx-large !important; */
  font-size: 3.3rem !important;
  padding: 0.8rem;
  font-weight: bolder !important;
}


.vysh_color,.chit_color{
  color: rgb(2, 2, 116);
}


.welcome{
  text-decoration: solid;
}


.button{
  font-size: large;
  background-color: rgb(61, 171, 59);
  color: #fff;
  padding: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 0.5rem;
}

.button:hover{
  zoom: 120%;
  background-color: rgb(206, 241, 134);
}

.buttondiv{
  text-align: center;
  padding: 1rem;
}

.contact{
  font-size:xx-large !important;
  word-spacing: 2.5px;
  line-height: 2.2rem;
  font-weight: 500;
  padding: 1rem;
  color: rgb(1, 1, 85);
  text-decoration: underline;
  margin-top: 1.5rem;
}

.address{
  word-spacing: 2.5px;
  line-height: 2.2rem;
  margin-left: 4rem !important;
  font-weight: 400;
}

.charges{
  text-decoration: underline;
  padding-bottom: 0.5rem;
  color: rgb(64, 7, 7);
}

.numerology_component,.astrology_component{
  padding: 2rem;
  line-height: 2rem;
  word-spacing: 0.1rem;
}

.language{
  font-size:medium;
}